<h1>Subs</h1>

<%= link_to "Create Sub", new_sub_url, method: :get if current_user %> 

<ul>
  <% Sub.all.each do |sub| %>

  <li> <a href="<%= sub_url(sub) %>"><%= sub.title %></a> </li>

  <% end %>
</ul>

